html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
}

h1 {
  font-variant: small-caps;
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

.header {
  text-align: center;
  font-size: 32px;
}

a, a.visited {
  color: #0044AA;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  color: #A9A9A9;
  font-size: 14px;
}

.indent {
  margin-left: 10px;
}

li {
  padding: 10px;
  list-style-type: square;
}

.code {
  font-family: 'IBM Plex Sans Mono', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.redacted {
  color: black;
  background-color: black;
}

.redacted_removed {
  color: black;
  background-color: #F2F2F2;
}

@media screen and (min-width: 650px) {
  .content {
    width: 75%;
  }
  .footer {
    width: 65%;
  }
  .indent {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    width: 750px;
  }
  .footer {
    width: 550px;
  }
  .indent {
    margin-left: 20px;
  }
}
